// 加载全局公共样式
@import "./glFont.scss";

*{
  margin: 0px;
  padding: 0px;
}

body{
  width: 100%;
  height: 100%;
}

#app{
  width: 100%;
  height: 100%
}

.full-page{
  width: 100%;
  height: 100%;
}

.my-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cz-center{
  display: flex;
  align-items: center;
}

.sp-center{
  display: flex;
  justify-content: center;
}